//@import "bootstrap/variables.less";
//@import "bootstrap/glyphicons.less";
@import "font-awesome/less/font-awesome.less";
@import "variables.less";
@import "mixin.less";
@import "deep-ui.less";
@left-tabs-width: 60px;
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    //    background: url(/res/deep_ui/bg.png) center top no-repeat;
    background-color: rgb(31, 25, 22);
    background-size: cover;
    font-family: Arial, Verdana, "微软雅黑", "黑体", serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    height: 100%;
    color: wheat;
}

#app {
    .fill;
}

.top-page-wrap {
    overflow: hidden;
    margin-left: 60px;
    height: 100%;
    position: relative;
}

.chat-page {
    @import "page/chat.less";
}

.login-page {
    @import "page/login.less";
}

.settings-page {
    @import "page/settings.less";
}

.avatar-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: wheat;
}

.left-tabs-wrap {
    z-index: 1;
    @import "left-tabs-wrap.less";
}

.setting-tab-header {
    @import "components/settingTabHeader.less";
}
